@import '../../theme/variables.scss';

.recipeeList {
  display: flex;
  flex-wrap: wrap;
}

.recipeeList__card {
  box-sizing: border-box;
  flex: 0 1 100%;
  @include tablet {
    flex-basis: 33.333%;
  }
}