
.header {
  background-color: #212121;
  padding: 16px 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  margin-bottom: 8px;
}

.header__logo {
  color: #ffffff;
  letter-spacing: -1px;
  margin: 0;
}